<?xml version="1.0" encoding="utf-8"?>
<settings styleversion="0.0.8">	
	<template_path>eqdkp_tsw_orochi</template_path>
	<sidebar_background_color>rgb(234, 234, 234)</sidebar_background_color>
	<sidebar_font_color>rgb(0, 0, 0)</sidebar_font_color>
	<sidebar_border_color>rgb(204, 204, 204)</sidebar_border_color>
</settings>