<?xml version="1.0" encoding="utf-8"?>
<settings styleversion="0.0.9">	
	<template_path>eqdkp_tsw_orochi</template_path>
	<attendees_columns>6</attendees_columns>
	<logo_position>center</logo_position>
	<background_pos>fixed</background_pos>
	<background_type>0</background_type>
	<portal_width>0px</portal_width>
	<background_img></background_img>
	<column_right_width>0px</column_right_width>
	<column_left_width>0px</column_left_width>
	<body_background_color>none</body_background_color>
	<body_font_color>none</body_font_color>
	<body_font_size>none</body_font_size>
	<body_font_family>none</body_font_family>
	<body_link_color>none</body_link_color>
	<body_link_color_hover>none</body_link_color_hover>
	<body_link_decoration>none</body_link_decoration>
	<container_background_color>none</container_background_color>
	<container_border_color>none</container_border_color>
	<content_background_color>rgb(245, 245, 245)</content_background_color>
	<content_font_color>rgb(0, 0, 0)</content_font_color>
	<content_font_color_headings>rgb(0, 0, 0)</content_font_color_headings>
	<content_link_color>rgb(78, 127, 168)</content_link_color>
	<content_link_color_hover>rgb(0, 0, 0)</content_link_color_hover>
	<content_border_color>rgb(204, 204, 204)</content_border_color>
	<content_accent_color>rgb(234, 234, 234)</content_accent_color>
	<userarea_background_color>none</userarea_background_color>
	<userarea_font_color>none</userarea_font_color>
	<userarea_link_color>none</userarea_link_color>
	<userarea_link_color_hover>none</userarea_link_color_hover>
	<table_th_background_color>none</table_th_background_color>
	<table_th_font_color>none</table_th_font_color>
	<table_tr_font_color></table_tr_font_color>
	<table_tr_background_color1>none</table_tr_background_color1>
	<table_tr_background_color2>none</table_tr_background_color2>
	<table_tr_background_color_hover>none</table_tr_background_color_hover>
	<table_border_color>none</table_border_color>
	<menu_background_color>none</menu_background_color>
	<menu_font_color>none</menu_font_color>
	<menu_item_background_color>none</menu_item_background_color>
	<menu_item_background_color_hover>none</menu_item_background_color_hover>
	<menu_item_font_color_hover>none</menu_item_font_color_hover>
	<sidebar_background_color>rgb(234, 234, 234)</sidebar_background_color>
	<sidebar_font_color>rgb(0, 0, 0)</sidebar_font_color>
	<sidebar_border_color>rgb(204, 204, 204)</sidebar_border_color>
	<button_background_color>none</button_background_color>
	<button_font_color>none</button_font_color>
	<button_border_color>none</button_border_color>
	<button_background_color_hover>none</button_background_color_hover>
	<button_font_color_hover>none</button_font_color_hover>
	<button_border_color_hover>none</button_border_color_hover>
	<input_background_color>none</input_background_color>
	<input_border_color>none</input_border_color>
	<input_font_color>none</input_font_color>
	<input_background_color_active>none</input_background_color_active>
	<input_border_color_active>none</input_border_color_active>
	<input_font_color_active>none</input_font_color_active>
	<content_contrast_color>rgb(0, 0, 0)</content_contrast_color>
	<content_contrast_background_color>rgb(252, 253, 254)</content_contrast_background_color>
	<content_contrast_border_color>rgb(204, 204, 204)</content_contrast_border_color>
	<content_positive_color>none</content_positive_color>
	<content_negative_color>none</content_negative_color>
	<content_neutral_color>none</content_neutral_color>
	<misc_color1></misc_color1>
	<misc_color2></misc_color2>
	<misc_color3></misc_color3>
</settings>